@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
* {
    font-family: 'galmuri9';
}

/* calendar */

.calendar {
  border: #666666 solid 1.5px;
  border-radius: 2rem;
  padding: 2% 5% 3% 5%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#prev_btn,
#next_btn {
  border-radius: 8px;
  padding: 10px;
}

.angle-icon {
  width: 1.25rem;
  height: auto;
  padding-top: 25%;
}

.calendar-h1 {
  text-align: center;
  font-size: 1.75rem;
  padding: 0 20px 0 20px;
}

#calendar {
  font-size: 1.25rem;
}

.grid-container-calendar,
.date-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 0 20px 0;
}

.date-grid-container {
  color: black;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  grid-column-start: 5;
}

/* 시간표 */
.timetable {
  border: #666666 solid 1.5px;
  border-radius: 2rem;
  padding: 5%;
  border-collapse: separate;
  border-spacing: 0;
}

.th {
  padding-bottom: 2%;
}

.td-time {
  width: 10%;
  text-align: center;
}

.td-data {
  width: 18%;
  border: #666 1px solid;
  text-align: center;
}


@media only screen and (min-width: 1024px) {
  /* 태블릿 */
  #container{
    display: grid;
    flex-grow: 1;
    flex-shrink: 1; 
    grid-gap: 5%;
  }
  
  #container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
    margin-top: 7%;
  }
  .grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
  }
  #profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  #userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  #usertable{
    display: grid;
  }
  
  
  
  #container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #usertc{
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }
  #usertimecal{
    justify-self: end; 
  }
}

@media only screen and (max-width: 1023px) {
  /* 태블릿 */
  #container{
    display: grid;
    flex-grow: 1;
    flex-shrink: 1; 
    grid-gap: 5%;
    margin-top: 5%;
  }
  
  #container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
  }
  #profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  #userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  #usertable{
    display: grid;
  }
  
  
  
  
  #container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #usertc{
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }
  #usertimecal{
    justify-self: end; 
  }
}

@media only screen and (max-width: 600px) {
  /* 모바일 */
  body{
    background-color: black;
  }
}