@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
* {
    font-family: 'galmuri9';
}

@media only screen and (min-width: 1024px) {
  /* 태블릿 */
  #container{
    display: grid;
    flex-grow: 1;
    flex-shrink: 1; 
    grid-gap: 5%;
    margin-top: 5%;
  }
  
  #container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
  }
  #profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  #userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  #usertable{
    display: grid;
  }
  
  
  
  
  #container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #usertc{
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }
  #usertimecal{
    justify-self: end; 
  }
}

@media only screen and (max-width: 1023px) {
  /* 태블릿 */
  #container{
    display: grid;
    flex-grow: 1;
    flex-shrink: 1; 
    grid-gap: 5%;
    margin-top: 5%;
  }
  
  #container1{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(5, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #user{
    display: grid;
    /* grid-template-columns: repeat(2, 50%);*/
    grid-gap: 5%;
  }
  #profile{
    justify-self: center; 
    align-self: flex-end;
    border-radius: 100%;
    border: solid #666666 3px;
  }
  #userinfo{
    justify-self: center; 
    align-self: flex-start;
  }
  #usertable{
    display: grid;
  }
  
  
  
  
  #container2{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
  }
  .grid-container2{
    display: grid;
    max-width: 600px;
    height: 400px;
    grid-template-columns: repeat(7, 1fr);
    border: #666666 solid 1px;
    border-radius: 10%;
    padding: 5%;
  }
  #usertc{
    display: grid;
    grid-template-columns: repeat(2, 40%);
  }
  #usertimecal{
    justify-self: end; 
  }
}

@media only screen and (max-width: 600px) {
  /* 모바일 */
  body{
    background-color: black;
  }
}